html,
body {
    height: 100%;
}


body {
    font-size: 16px;
    /*
    color: $default;
    @extend %dmsans-700px;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*
.title {
    @extend %title;
}*/

.main {
    flex-grow: 1;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}